body{
    font-family: Comic Sans MS;
    background-color: bisque;
    text-align: center;
}

.quizContainer{
    background-color: aliceblue;
    width: 60%;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

button{
    padding: 10px 15px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: 0.3s;
}

button:disabled{
    background: gray;
    cursor: not-allowed;
}

.opcao{
    display: block;
    padding: 10px;
    background-color: lightblue;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.opcao:hover{
    background-color: dodgerblue;
    color: white;
}

.correta{
    background: green !important;
    color: white;

}

.errada{
    background-color: red !important;
    color: white;
}